.BoutonDeconnexion
{
	width:120px;
	padding:6px 0 6px 0;
	background:#f5f5f5;
	border-radius:2px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
	cursor:pointer;
	text-align: center;
}




.TextDeconnexion
{
	
	
	font:bold 13px Arial;
	color:#555;
	text-transform:capitalize;
	text-decoration : none;
}