div
{
	margin-left: 200px;
	padding: 0px;
	font-family: Verdana, Arial;
	font-size: 15px;
	
}
body{
	background-color: rgb(187 , 210 , 225);
}

.Titre
{
	display: flex;
	justify-content: space-around;
	margin-top: 90px;
	font-size: 40px;

}




.objet1
{
	display: flex;
	margin-top: 150px;
	margin-bottom: 40px;
	justify-content: space-around;
}

.text1
{
	width: 950px;
}


.objet2
{
	display: flex;
	margin-bottom: 40px;
	justify-content: space-around;
}

.text2
{
	width: 950px;
}


.objet3
{
	display: flex;
	margin-bottom: 40px;
	justify-content: space-around;
}

.text3
{
	width: 950px;
}


.objet4
{
	display: flex;
	margin-bottom: 40px;
	justify-content: space-around;
}

.text4
{
	width: 950px;
}


.objet5
{
	display: flex;
	margin-bottom: 40px;
	justify-content: space-around;
}

.text5
{
	width: 950px;
}


.objet6
{
	display: flex;
	margin-bottom: 40px;
	justify-content: space-around;
}

.text6
{
	width: 950px;
}


.objet7
{
	display: flex;
	margin-bottom: 40px;
	justify-content: space-around;
}

.text7
{
	width: 950px;
}


.objet8
{
	display: flex;
	margin-bottom: 40px;
	justify-content: space-around;
}

.text8
{
	width: 950px;
}








.bouton
{
	width:120px;
	height: 20px;
	padding:6px 0 6px 0;
	margin: 7px 10px 0 0;
	background:#f5f5f5;
	border-radius:2px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;
	cursor:pointer;
	text-align: center;
}


.TextBouton
{	
	font:bold 15px Arial;
	color:#555;
	text-transform:capitalize;
	text-decoration : none;
}